.form__container {
    margin-left: 30rem;
    padding-bottom: 3rem;
}
.lor-request__confirm-btn {
    padding: 2rem 4rem !important;
    border-radius: 0.5rem !important;
    font-size: 1.6rem !important;
    font-weight: bold !important;
    margin: 0 0 0 5rem !important;
    background-color: #1b65a7 !important;
    color: white !important;

    &:hover {
        opacity: 0.9 !important;
    }
    &:active {
        scale: 0.98 !important;
    }
    &:focus {
        outline: none !important;
    }
    &:disabled {
        cursor: not-allowed !important;
        opacity: 0.5 !important;
        scale: 1 !important;
    }
}
