.login__frame {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;

    &__center {
        box-shadow: 0 0 7rem .9rem rgba(27, 101, 167, .25);
        border-radius: 2.9rem;
        width: 44rem;
        height: 46rem;
        padding: 2.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.logo {
    position: relative;
    top: 4em;
    width: 28rem;
}

.login__text {
    font-size: 2.7rem;
    position: relative;
    top: 30%;
    letter-spacing: .5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.logo__container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    top: 50%;
    width: 70%;

    &__google {
        width: 4.7rem;
        scale: 1.25;

        &:hover {
            cursor: pointer;
        }
    }

    &__linkedin {
        width: 4.7rem;

        &:hover {
            cursor: pointer;
        }
    }
}